:host {
    background: linear-gradient(to bottom right, var(--color-dim), var(--color-vibrant));
    background-size: 300% 300%;
    animation: animateGradient 4000ms linear infinite;
    display: block;
    padding: 2px;
}

.feature-list-item {
    display: grid;
    grid-template-columns: min-content 1fr;
    background-color: var(--color-surface);
    padding: 8px;
    height: 100%;
    gap: 16px;
}

.feature-list-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;

    padding: 8px;
}

.feature-list-item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
}
