<div class="teaser">
    <h1 class="teaser__title">{{ blok().headline }}</h1>
    @if (blok().image.filename) {
        <div class="teaser__image">
            <img
                class="teaser__img"
                [alt]="blok().image.alt"
                [ngSrc]="blok().image.filename!"
                [width]="blok().image.filename! | storyblokImgWidth"
                [height]="blok().image.filename! | storyblokImgHeight"
                sizes="(max-width: 768px) 100vw, (max-width:1024px) 50vw, 30vw"
                priority
            />
        </div>
    }
</div>
