@import 'highlight.js/styles/monokai-sublime.css';

.code-blok__header {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
    line-height: 1.5em;
    border: 2px solid var(--color-light);
    border-bottom: 0;
    border-image-source: radial-gradient(circle at top left, var(--color-vibrant), var(--color-dim));
    border-image-slice: 1;
}

.code-blok__language {
    font-family: var(--font-family-mono);
    background-color: var(--color-secondary-10);
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 400;
    margin-left: auto;
}

.code-blok__title {
    font-family: var(--font-family-mono);
    font-weight: 400;
    color: var(--color-light);
    background-color: var(--color-secondary-10);
    padding: 4px 8px;
    border-radius: 4px;
}

.code-blok__header + .code-blok__outer {
    border-top-width: 1px;
}

.code-blok__outer {
    display: grid;
    background-color: var(--color-code-bg);
    border: 2px solid var(--color-light);
    border-image-source: radial-gradient(circle at top left, var(--color-vibrant), var(--color-dim));
    border-image-slice: 1;
    max-width: 100%;
}

.code-blok__inner {
    display: grid;
    overflow-x: auto;
}

.code-blok__inner::-webkit-scrollbar {
    width: 10px;
    padding: 0;
}

.code-blok__inner::-webkit-scrollbar-track {
    background: var(--color-code-bg);
}

.code-blok__inner::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 6px var(--color-code-bg);
    border-radius: 8px;
    background: var(--color-vibrant);

}

.code-blok__inner::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0 4px var(--color-code-bg);
    background: linear-gradient(to right, var(--color-vibrant), var(--color-primary));
}

.code-blok__code {
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-family-mono);
    margin: 0;
    padding: 16px;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
}

.code-blok__code * {

}

.code-blok__footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.code-blok__button {
    font-size: 0.875rem;
    line-height: 1em;
    border: 2px solid var(--color-vibrant);
    font-family: var(--font-family-mono);
    padding: 12px 24px 8px;
    border-top: 0;
    border-image-source: radial-gradient(circle at bottom left, var(--color-vibrant), var(--color-dim));
    border-image-slice: 1;
    background-color: var(--color-code-bg);
    color: #FFF;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 300ms linear;
    text-transform: uppercase;
}

.code-blok__button:hover,
.code-blok__button:focus-visible {
    background-color: var(--color-secondary-10);
}

.code-blok__button:focus-visible {
    outline: 2px solid var(--color-secondary);
    outline-offset: -8px;
}

.code-blok__copied {
    font-family: var(--font-family-mono);
    font-size: 0.875rem;
    line-height: 1em;
    padding: 12px 0 8px;
    text-transform: uppercase;
}

.code-blok__copied--error {
    color: var(--color-error);
}
