:host(.text-blok) {
    font-family: var(--font-family);
    --_color: var(--color-light);
    --_font-size: inherit;
    --_line-height: 1.3em;
    --_font-weight: inherit;
    --_background-image: none;
    --_text-transform: none;
}

:host(.text-blok--style-headline) {
    --_color: var(--color-secondary);
    --_font-size: 2.9rem;
    --_font-weight: 900;
}

:host(.text-blok--style-strapline) {
    --_color: var(--color-secondary);
    --_font-size: 2rem;
    --_line-height: 1.1em;
    --_font-weight: 700;
}

:host(.text-blok--style-title) {
    --_font-size: 1.8rem;
    --_font-weight: 700;
    --_color: var(--color-secondary);
}

:host(.text-blok--style-subtitle) {
    --_color: var(--color-secondary);
    --_font-size: 1.4rem;
    --_font-weight: 700;
}

:host(.text-blok--style-lead) {
    --_font-size: 1.1rem;
    --_font-weight: 400;
}

:host(.text-blok--style-paragraph) {
    --_font-size: 1rem;
    --_line-height: 1.4em;
    --_font-weight: 400;
}

:host(.text-blok--style-small) {
    --_font-size: .875rem;
    --_font-weight: 300;
}

@media (min-width: 48em) {
    :host(.text-blok--style-headline) {
        --_font-size: 3.5rem;
        --_font-weight: 900;
    }
}


:host(.text-blok--style-headline) .text-blok__text,
:host(.text-blok--style-strapline) .text-blok__text,
:host(.text-blok--style-title) .text-blok__text {
    background-image: -webkit-radial-gradient(top right, var(--color-primary) 0%, var(--color-secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-blok__text {
    font-size: var(--_font-size);
    line-height: var(--_line-height);
    font-weight: var(--_font-weight);
    color: var(--_color);
    padding: 0;
    margin: 0;
}
