:host(.separator) {
    display: block;
    border-top: 2px solid transparent;
    border-radius: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--color-vibrant), var(--color-dim));

}

:host(.separator--margin-lg) {
    margin-block: 48px;
}

:host(.separator--margin-xl) {
    margin-block: 48px;
}

.separator__hr {
    border: 0;
    margin: 0;
    padding:0;
}
