<div class="tabs">
    <div class="tabs__controls">
        <div
            class="tabs__controls-inner"
            role="tablist"
        >
            @for (tab of blok().children; track blok()._uid; let i = $index) {
                <button
                    class="tabs__control"
                    [id]="'tab-control' + tab._uid"
                    [attr.aria-selected]="tab._uid === activeTabId()"
                    [attr.aria-controls]="'tab-panel' + tab._uid"
                    [attr.tabindex]="fkm?.activeItemIndex === i ? null : -1"
                    (click)="setActiveTab(tab._uid!, i)"
                    (keydown)="fkm!.onKeydown($event)"
                    (focus)="syncFocus(i)"
                    appTabButton
                    role="tab"
                >
                    {{ tab.title }}
                </button>
            }
        </div>
    </div>

    <div class="tabs__children">
        @for (tab of blok().children; track blok()._uid) {
            <div
                class="tabs__tab"
                [id]="'tab-panel' + tab._uid"
                [attr.aria-labelledby]="'tab-control' + tab._uid"
                [class.tabs__tab--active]="tab._uid === activeTabId()"
                role="tabpanel"
            >
                <ng-container [storyblokBlok]="tab" />
            </div>
        }
    </div>
</div>
