.tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tabs__controls {
    display: flex;
    margin: auto;
    width: 100%;
}

.tabs__controls-inner {
    display: flex;
    gap: 4px;
    justify-content: center;
    background-color: var(--color-surface);
    flex-grow: 1;
}

.tabs__control {
    flex-grow: 1;
    padding: 8px 12px;
    border: 0;
    margin-bottom: 2px;
    color: var(--color-secondary);
    background: transparent;
    font-family: var(--font-family);
    font-weight: 600;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 150ms;
    transition-timing-function: linear;
    text-align: center;
}

.tabs__control[aria-selected='true'] {
    margin-bottom: 0;
    background: var(--color-secondary-10);
    color: var(--color-light);
    border-bottom: 2px solid var(--color-light);
    border-image-source: radial-gradient(circle at left, var(--color-vibrant), var(--color-dim));
    border-image-slice: 1;
    scale: 1;
}

.tabs__control:hover {
    background: var(--color-secondary-10);
    color: var(--color-light);
}

.tabs__control:focus-visible {
    outline: 2px solid var(--color-secondary);
    outline-offset: 2px;
}

.tabs__tab {
    display: none;
}

.tabs__tab--active {
    display: block;
}

@media (min-width: 768px) {
    .tabs {
        gap: 16px;
    }
    .tabs__control {
        flex-grow: 0;
        padding-inline: 16px;
    }
}
