<div class="tabs">
    <div class="tabs__controls">
        <div class="tabs__controls-inner" role="tablist">
            @for (tab of blok().children; track blok()._uid) {
                <button
                    appTabButton
                    class="tabs__control"
                    role="tab"
                    [id]="'tab-control'+ tab._uid"
                    [attr.aria-selected]="tab._uid === activeTabId()"
                    [attr.aria-controls]="'tab-panel'+ tab._uid"
                    [attr.tabindex]="tab._uid === activeTabId() ? null : -1"
                    (click)="setActiveTab(tab._uid!)"
                    (keydown)="fkm!.onKeydown($event)"

                >
                    {{ tab.title }}
                </button>
            }
        </div>
    </div>

    <div class="tabs__children">
        @for (tab of blok().children; track blok()._uid) {
            <div
                class="tabs__tab"
                role="tabpanel"
                [id]="'tab-panel'+ tab._uid"
                [attr.aria-labelledby]="'tab-control'+ tab._uid"
                [class.tabs__tab--active]="tab._uid === activeTabId()"
            >
                <ng-container [storyblokBlok]="tab" />
            </div>
        }
    </div>
</div>
