.page {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-inline: 16px;
}

.page--layout-single {
    max-width: 900px;
}

.page--layout-double {
    max-width: 1200px;
}


.page__before {
}

.page__body {
    display: grid;
    column-gap: 48px;
    grid-template-areas: "aside" "main";
}

@media (min-width: 48em) {
    .page__body--with-aside {
        display: grid;
        grid-template-areas: "main aside";
        grid-template-columns: 2.5fr 1fr;
    }
}

@media (min-width: 64em) {
    .page__body--with-aside {
        grid-template-columns: 3fr 1fr;
    }
}

.page__main {
    grid-area: main;
}

.page__aside {
    grid-area: aside;
}

.page__after {
}
