.page {
    margin: auto;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
}

.page--layout-single {
    max-width: 900px;
}

.page--layout-double {
    max-width: 1200px;
}

.page__body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media (min-width: 48em) {
    .page__body {
        flex-direction: row;
    }
}

.page__before {
}

.page__main {
    flex-grow: 1;
}

.page__aside {
    width: 500px;
}

.page__after {
}
