.grid {
    display: grid;
    gap: 16px;
}

@media (min-width: 48em) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 64em) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid__column {

}
