@import "modern-css-reset/dist/reset.css";

:root {
    --font-family: 'Inter Tight', sans-serif;

    --color-surface: #2A202A;
    --color-light: #FFF;
    --color-dark: #413152;
    --color-primary: #a18cd1;
    --color-secondary: #F9DEE9;
    --color-secondary-10: rgb(249 222 233 / .1);
    --color-secondary-20: rgb(249 222 233 / .2);
    --color-secondary-50: rgb(249 222 233 / .5);
    --color-info: #4FC3F7;
    --color-success: #81C784;
    --color-warning: #FFD54F;
    --color-danger: #E57373;
}

body {
    background-color: var(--color-surface);
    color: var(--color-secondary);
}
