.content {
    font-family: var(--font-family);
    --_color: var(--color-light);
    --_font-size: inherit;
    --_line-height: 1.3em;
    --_font-weight: inherit;
    --_background-image: none;
    --_text-transform: none;
}

.content ::ng-deep h3 {
    --_color: var(--color-secondary);
    --_font-size: 1.4rem;
    --_font-weight: 600;
}

.content ::ng-deep p {
    --_font-size: 1rem;
    --_line-height: 1.5em;
    --_font-weight: 400;
}

.content ::ng-deep small {
    --_font-size: .875rem;
    --_font-weight: 300;
}

.content ::ng-deep * {
    font-size: var(--_font-size);
    line-height: var(--_line-height);
    font-weight: var(--_font-weight);
    color: var(--_color);
    padding: 0;
    margin: 0;
}
